section.s-progress.s_dark
  .container
    .row
      .col-lg-4.progress-item-w
        .progress-item
          span.progress-item__count 
            | 500+
          span.progress-item__heading 
            | Successfully completed projects
          span.progress-item__description
            | Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus lorem ipsum ese terds. 
      .col-lg-4.progress-item-w
        .progress-item
          span.progress-item__count 
            | 254+
          span.progress-item__heading 
            | Highly specialised employees
          span.progress-item__description
            | Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus lorem ipsum ese terds. 
      .col-lg-4.progress-item-w
        .progress-item
          span.progress-item__count 
            | 45+
          span.progress-item__heading 
            | Awards around the world
          span.progress-item__description
            | Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus lorem ipsum ese terds. 