section.s-partners.s_dark
  .container
    ul.row
      li.col-3
        .partner__logo.partner__logo_cisco
          span.visually-hidden CISCO
      li.col-3
        .partner__logo.partner__logo_adidas
          span.visually-hidden Adidas
      li.col-3
        .partner__logo.partner__logo_lenovo
          span.visually-hidden Lenovo
      li.col-3
        .partner__logo.partner__logo_disney
          span.visually-hidden Disney
      li.col-3
        .partner__logo.partner__logo_amazon
          span.visually-hidden Amazon
      li.col-3
        .partner__logo.partner__logo_puma
          span.visually-hidden Puma
      li.col-3
        .partner__logo.partner__logo_apple
          span.visually-hidden Apple
      li.col-3
        .partner__logo.partner__logo_mini
          span.visually-hidden MINI
