
<section class="s-form s_dark">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <div class="section-content">
          <div class="section-heading">
            <h1 class="section-heading__main">Don't Forget to Contact With Us</h1>
            <h2 class="section-heading__second">Need Help?</h2>
          </div>
          <div class="section-description">
            Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus lorem ipsum ese terds. Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus. 
            
          </div>
        </div>
      </div>
    </div>
    <form class="form">
      <div class="row text-center">
        <div class="col-lg-5 w-input">
          <label class="sr-only" for="inlineFormInputName">Name</label>
          <input class="input form-control" id="inlineFormInputName" type="text" placeholder="Jane Doe"/>
        </div>
        <div class="col-lg-5 w-input">
          <label class="sr-only" for="inlineFormInputGroupUsername">Email</label>
          <input class="input form-control" id="inlineFormInputGroupUsername" type="text" placeholder="Email"/>
        </div>
        <div class="col-2 w-button">
          <button class="button button_square button_second-color btn" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</section>