section.s-happy-client.s_dark#carouselExampleIndicators.carousel.slide(data-ride='carousel')
  ol.carousel-indicators
    li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
    li(data-target='#carouselExampleIndicators' data-slide-to='1')
    li(data-target='#carouselExampleIndicators' data-slide-to='2')

  .carousel-inner

    .carousel-item.active
      .container
        .row.justify-content-between
          .col-md-6.happy-client-message
            .section-content
              .section-heading
                h1.section-heading__main.
                  Testimonials
                h2.section-heading__second.
                  Our Happy Client
            .feedback
              .feedback-item
                .feedback-item__text
                  | 111 Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus lorem ipsum ese terds. Lorem ipsum dolor sit am et, consec tetur adipi scing elit.
                .feedback-item__rating
                  span.visually-hidden 5 stars
                .feedback-item__client-name
                  | Mr. John Doe
          .col-md-5.happy-client-photo

    .carousel-item
      .container
        .row.justify-content-between
          .col-md-6.happy-client-message
            .section-content
              .section-heading
                h1.section-heading__main.
                  Testimonials
                h2.section-heading__second.
                  Our Happy Client
            .feedback
              .feedback-item
                .feedback-item__text
                  | 222 Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus lorem ipsum ese terds. Lorem ipsum dolor sit am et, consec tetur adipi scing elit.
                .feedback-item__rating
                  span.visually-hidden 5 stars
                .feedback-item__client-name
                  | Mr. Daniel Moore
          .col-md-5.happy-client-photo

    .carousel-item
      .container
        .row.justify-content-between
          .col-md-6.happy-client-message
            .section-content
              .section-heading
                h1.section-heading__main.
                  Testimonials
                h2.section-heading__second.
                  Our Happy Client
            .feedback
              .feedback-item
                .feedback-item__text
                  | 333 Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus lorem ipsum ese terds. Lorem ipsum dolor sit am et, consec tetur adipi scing elit.
                .feedback-item__rating
                  span.visually-hidden 5 stars
                .feedback-item__client-name
                  | Mr. Eric Evans
          .col-md-5.happy-client-photo

  a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
    span.carousel-control-prev-icon(aria-hidden='true')
    span.sr-only Previous
  a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
    span.carousel-control-next-icon(aria-hidden='true')
    span.sr-only Next
