section.s-work.s_light
  .container
    .row.text-center
      .col
        .section-content
          .section-heading
            h3.section-heading__main Our Recent Work
          p.section-description__content
            | Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus lorem ipsum ese terds. Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus lorem ipsum ese terds.Lorem ipsum dolor sit am et, consec tetur adipi scing elit. 

          .section-description

            ul.tab-panel#myTab_2.nav.nav-tabs.justify-content-center(role='tablist')
              li.tab-button.nav-item
                a.tab-button__link#web-design-tab_2.nav-link.rounded-pill.active(data-toggle='tab' href='#web-design_2' role='tab' aria-controls='web-design' aria-selected='true')
                  | Web design
              li.tab-button.nav-item
                a.tab-button__link#mobile-app-tab_2.nav-link.rounded-pill(data-toggle='tab' href='#mobile-app_2' role='tab' aria-controls='mobile-app' aria-selected='false')
                  | Mobile App
              li.tab-button.nav-item
                a.tab-button__link#branding-tab_2.nav-link.rounded-pill(data-toggle='tab' href='#branding_2' role='tab' aria-controls='branding' aria-selected='false') 
                  | Branding
              li.tab-button.nav-item
                a.tab-button__link#contact-tab_2.nav-link.rounded-pill(data-toggle='tab' href='#contact_2' role='tab' aria-controls='contact' aria-selected='false')
                  | Contact

            #myTabContent_2.tab-content

              #web-design_2.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='web-design-tab_2')

                .gallery.row

                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/1_b.jpg" data-caption="data-caption a" title="title a")
                      img(src="./components/s-work/img/1_s.jpg" alt="Кто выпил настойку с подорожниками?")
                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/2_b.jpg")
                      img(src="./components/s-work/img/2_s.jpg" alt="Кружка для зимней рыбалки")
                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/3_b.jpg")
                      img(src="./components/s-work/img/3_s.jpg" alt="Книга заклинаний")

                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/4_b.jpg" data-caption="data-caption a" title="title a")
                      img(src="./components/s-work/img/4_s.jpg" alt="Майка - алкоголичка")
                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/5_b.jpg")
                      img(src="./components/s-work/img/5_s.jpg" alt="Коробка полная секретов")
                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/6_b.jpg")
                      img(src="./components/s-work/img/6_s.jpg" alt="Черное молоко")

                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/7_b.jpg" data-caption="data-caption a" title="title a")
                      img(src="./components/s-work/img/7_s.jpg" alt="Ярлыки для пакетиков с чаем")
                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/8_b.jpg")
                      img(src="./components/s-work/img/8_s.jpg" alt="Пакет с пакетами")
                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/9_b.jpg")
                      img(src="./components/s-work/img/9_s.jpg" alt="Мойте руки перед едой")

              #mobile-app_2.tab-pane.fade(role='tabpanel' aria-labelledby='mobile-app_2')

                .gallery.row

                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/4_b.jpg" data-caption="data-caption a" title="title a")
                      img(src="./components/s-work/img/4_s.jpg" alt="Майка - алкоголичка")
                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/7_b.jpg" data-caption="data-caption a" title="title a")
                      img(src="./components/s-work/img/7_s.jpg" alt="Ярлыки для пакетиков с чаем")
                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/6_b.jpg")
                      img(src="./components/s-work/img/6_s.jpg" alt="Черное молоко")

                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/1_b.jpg" data-caption="data-caption a" title="title a")
                      img(src="./components/s-work/img/1_s.jpg" alt="Кто выпил настойку с подорожниками?")
                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/5_b.jpg")
                      img(src="./components/s-work/img/5_s.jpg" alt="Коробка полная секретов")                   
                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/3_b.jpg")
                      img(src="./components/s-work/img/3_s.jpg" alt="Книга заклинаний")

                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/2_b.jpg")
                      img(src="./components/s-work/img/2_s.jpg" alt="Кружка для зимней рыбалки")
                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/8_b.jpg")
                      img(src="./components/s-work/img/8_s.jpg" alt="Пакет с пакетами")
                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/9_b.jpg")
                      img(src="./components/s-work/img/9_s.jpg" alt="Мойте руки перед едой")


              #branding_2.tab-pane.fade(role='tabpanel' aria-labelledby='branding-tab_2') 

                .gallery.row

                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/2_b.jpg")
                      img(src="./components/s-work/img/2_s.jpg" alt="Кружка для зимней рыбалки")
                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/6_b.jpg")
                      img(src="./components/s-work/img/6_s.jpg" alt="Черное молоко")
                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/8_b.jpg")
                      img(src="./components/s-work/img/8_s.jpg" alt="Пакет с пакетами")

                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/4_b.jpg" data-caption="data-caption a" title="title a")
                      img(src="./components/s-work/img/4_s.jpg" alt="Майка - алкоголичка")
                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/1_b.jpg" data-caption="data-caption a" title="title a")
                      img(src="./components/s-work/img/1_s.jpg" alt="Кто выпил настойку с подорожниками?")
                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/7_b.jpg" data-caption="data-caption a" title="title a")
                      img(src="./components/s-work/img/7_s.jpg" alt="Ярлыки для пакетиков с чаем")



                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/5_b.jpg")
                      img(src="./components/s-work/img/5_s.jpg" alt="Коробка полная секретов")
                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/9_b.jpg")
                      img(src="./components/s-work/img/9_s.jpg" alt="Мойте руки перед едой")                   
                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/3_b.jpg")
                      img(src="./components/s-work/img/3_s.jpg" alt="Книга заклинаний")



              #contact_2.tab-pane.fade(role='tabpanel' aria-labelledby='contact-tab_2') 

                .gallery.row

                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/5_b.jpg")
                      img(src="./components/s-work/img/5_s.jpg" alt="Коробка полная секретов")
                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/4_b.jpg" data-caption="data-caption a" title="title a")
                      img(src="./components/s-work/img/4_s.jpg" alt="Майка - алкоголичка")
                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/3_b.jpg")
                      img(src="./components/s-work/img/3_s.jpg" alt="Книга заклинаний")

                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/6_b.jpg")
                      img(src="./components/s-work/img/6_s.jpg" alt="Черное молоко")
                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/2_b.jpg")
                      img(src="./components/s-work/img/2_s.jpg" alt="Кружка для зимней рыбалки")
                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/1_b.jpg" data-caption="data-caption a" title="title a")
                      img(src="./components/s-work/img/1_s.jpg" alt="Кто выпил настойку с подорожниками?")

                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/8_b.jpg")
                      img(src="./components/s-work/img/8_s.jpg" alt="Пакет с пакетами")
                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/9_b.jpg")
                      img(src="./components/s-work/img/9_s.jpg" alt="Мойте руки перед едой")
                  .gallery__item.col-sm-4
                    a(href="./components/s-work/img/7_b.jpg" data-caption="data-caption a" title="title a")
                      img(src="./components/s-work/img/7_s.jpg" alt="Ярлыки для пакетиков с чаем")
