
<section class="s-work s_light">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <div class="section-content">
          <div class="section-heading">
            <h3 class="section-heading__main">Our Recent Work</h3>
          </div>
          <p class="section-description__content">Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus lorem ipsum ese terds. Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus lorem ipsum ese terds.Lorem ipsum dolor sit am et, consec tetur adipi scing elit. </p>
          <div class="section-description">
            <ul class="tab-panel nav nav-tabs justify-content-center" id="myTab_2" role="tablist">
              <li class="tab-button nav-item"><a class="tab-button__link nav-link rounded-pill active" id="web-design-tab_2" data-toggle="tab" href="#web-design_2" role="tab" aria-controls="web-design" aria-selected="true">Web design</a></li>
              <li class="tab-button nav-item"><a class="tab-button__link nav-link rounded-pill" id="mobile-app-tab_2" data-toggle="tab" href="#mobile-app_2" role="tab" aria-controls="mobile-app" aria-selected="false">Mobile App</a></li>
              <li class="tab-button nav-item"><a class="tab-button__link nav-link rounded-pill" id="branding-tab_2" data-toggle="tab" href="#branding_2" role="tab" aria-controls="branding" aria-selected="false">
                   Branding</a></li>
              <li class="tab-button nav-item"><a class="tab-button__link nav-link rounded-pill" id="contact-tab_2" data-toggle="tab" href="#contact_2" role="tab" aria-controls="contact" aria-selected="false">Contact</a></li>
            </ul>
            <div class="tab-content" id="myTabContent_2">
              <div class="tab-pane fade show active" id="web-design_2" role="tabpanel" aria-labelledby="web-design-tab_2">
                <div class="gallery row">
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/1_b.jpg" data-caption="data-caption a" title="title a"><img src="./components/s-work/img/1_s.jpg" alt="Кто выпил настойку с подорожниками?"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/2_b.jpg"><img src="./components/s-work/img/2_s.jpg" alt="Кружка для зимней рыбалки"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/3_b.jpg"><img src="./components/s-work/img/3_s.jpg" alt="Книга заклинаний"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/4_b.jpg" data-caption="data-caption a" title="title a"><img src="./components/s-work/img/4_s.jpg" alt="Майка - алкоголичка"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/5_b.jpg"><img src="./components/s-work/img/5_s.jpg" alt="Коробка полная секретов"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/6_b.jpg"><img src="./components/s-work/img/6_s.jpg" alt="Черное молоко"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/7_b.jpg" data-caption="data-caption a" title="title a"><img src="./components/s-work/img/7_s.jpg" alt="Ярлыки для пакетиков с чаем"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/8_b.jpg"><img src="./components/s-work/img/8_s.jpg" alt="Пакет с пакетами"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/9_b.jpg"><img src="./components/s-work/img/9_s.jpg" alt="Мойте руки перед едой"/></a></div>
                </div>
              </div>
              <div class="tab-pane fade" id="mobile-app_2" role="tabpanel" aria-labelledby="mobile-app_2">
                <div class="gallery row">
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/4_b.jpg" data-caption="data-caption a" title="title a"><img src="./components/s-work/img/4_s.jpg" alt="Майка - алкоголичка"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/7_b.jpg" data-caption="data-caption a" title="title a"><img src="./components/s-work/img/7_s.jpg" alt="Ярлыки для пакетиков с чаем"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/6_b.jpg"><img src="./components/s-work/img/6_s.jpg" alt="Черное молоко"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/1_b.jpg" data-caption="data-caption a" title="title a"><img src="./components/s-work/img/1_s.jpg" alt="Кто выпил настойку с подорожниками?"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/5_b.jpg"><img src="./components/s-work/img/5_s.jpg" alt="Коробка полная секретов"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/3_b.jpg"><img src="./components/s-work/img/3_s.jpg" alt="Книга заклинаний"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/2_b.jpg"><img src="./components/s-work/img/2_s.jpg" alt="Кружка для зимней рыбалки"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/8_b.jpg"><img src="./components/s-work/img/8_s.jpg" alt="Пакет с пакетами"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/9_b.jpg"><img src="./components/s-work/img/9_s.jpg" alt="Мойте руки перед едой"/></a></div>
                </div>
              </div>
              <div class="tab-pane fade" id="branding_2" role="tabpanel" aria-labelledby="branding-tab_2"> 
                <div class="gallery row">
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/2_b.jpg"><img src="./components/s-work/img/2_s.jpg" alt="Кружка для зимней рыбалки"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/6_b.jpg"><img src="./components/s-work/img/6_s.jpg" alt="Черное молоко"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/8_b.jpg"><img src="./components/s-work/img/8_s.jpg" alt="Пакет с пакетами"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/4_b.jpg" data-caption="data-caption a" title="title a"><img src="./components/s-work/img/4_s.jpg" alt="Майка - алкоголичка"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/1_b.jpg" data-caption="data-caption a" title="title a"><img src="./components/s-work/img/1_s.jpg" alt="Кто выпил настойку с подорожниками?"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/7_b.jpg" data-caption="data-caption a" title="title a"><img src="./components/s-work/img/7_s.jpg" alt="Ярлыки для пакетиков с чаем"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/5_b.jpg"><img src="./components/s-work/img/5_s.jpg" alt="Коробка полная секретов"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/9_b.jpg"><img src="./components/s-work/img/9_s.jpg" alt="Мойте руки перед едой"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/3_b.jpg"><img src="./components/s-work/img/3_s.jpg" alt="Книга заклинаний"/></a></div>
                </div>
              </div>
              <div class="tab-pane fade" id="contact_2" role="tabpanel" aria-labelledby="contact-tab_2"> 
                <div class="gallery row">
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/5_b.jpg"><img src="./components/s-work/img/5_s.jpg" alt="Коробка полная секретов"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/4_b.jpg" data-caption="data-caption a" title="title a"><img src="./components/s-work/img/4_s.jpg" alt="Майка - алкоголичка"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/3_b.jpg"><img src="./components/s-work/img/3_s.jpg" alt="Книга заклинаний"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/6_b.jpg"><img src="./components/s-work/img/6_s.jpg" alt="Черное молоко"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/2_b.jpg"><img src="./components/s-work/img/2_s.jpg" alt="Кружка для зимней рыбалки"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/1_b.jpg" data-caption="data-caption a" title="title a"><img src="./components/s-work/img/1_s.jpg" alt="Кто выпил настойку с подорожниками?"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/8_b.jpg"><img src="./components/s-work/img/8_s.jpg" alt="Пакет с пакетами"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/9_b.jpg"><img src="./components/s-work/img/9_s.jpg" alt="Мойте руки перед едой"/></a></div>
                  <div class="gallery__item col-sm-4"><a href="./components/s-work/img/7_b.jpg" data-caption="data-caption a" title="title a"><img src="./components/s-work/img/7_s.jpg" alt="Ярлыки для пакетиков с чаем"/></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>