
<section class="s-work s_light">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-content">
          <div class="section-heading">
            <h3 class="section-heading__main">Our Recent Work</h3>
          </div>
          <div class="section-description">
            <p>
              Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus lorem ipsum ese terds. Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus lorem ipsum ese terds.Lorem ipsum dolor sit am et, consec tetur adipi scing elit. 
              
              
            </p>
            <ul class="tab-panel nav nav-tabs" id="myTab_2" role="tablist">
              <li class="tab-button nav-item"><a class="tab-button__link nav-link rounded-pill active" id="web-design-tab_2" data-toggle="tab" href="#web-design_2" role="tab" aria-controls="web-design" aria-selected="true">Web design</a></li>
              <li class="tab-button nav-item"><a class="tab-button__link nav-link rounded-pill" id="mobile-app-tab_2" data-toggle="tab" href="#mobile-app_2" role="tab" aria-controls="mobile-app" aria-selected="false">Mobile App</a></li>
              <li class="tab-button nav-item"><a class="tab-button__link nav-link rounded-pill" id="branding-tab_2" data-toggle="tab" href="#branding_2" role="tab" aria-controls="branding" aria-selected="false">
                   Branding</a></li>
              <li class="tab-button nav-item"><a class="tab-button__link nav-link rounded-pill" id="contact-tab_2" data-toggle="tab" href="#contact_2" role="tab" aria-controls="contact" aria-selected="false">Contact</a></li>
            </ul>
            <div class="tab-content" id="myTabContent_2">
              <div class="tab-pane fade show active" id="web-design_2" role="tabpanel" aria-labelledby="web-design-tab_2">
                <div class="gallery row">
                  <div class="gallery__item col-4"><a href="./img/1_b.jpg"><img src="./img/1_s.jpg" alt=""/></a></div>
                </div>
              </div>
              <div class="tab-pane fade" id="mobile-app_2" role="tabpanel" aria-labelledby="mobile-app_2"></div>
              <div class="tab_2-pane fade" id="branding_2" role="tabpanel" aria-labelledby="branding-tab_2"> </div>
              <div class="tab-pane fade" id="contact_2" role="tabpanel" aria-labelledby="contact-tab_2"> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>