
<section class="s-partners s_dark">
  <div class="container">
    <ul class="row">
      <li class="col-3">
        <div class="partner__logo partner__logo_cisco"><span class="visually-hidden">CISCO</span></div>
      </li>
      <li class="col-3">
        <div class="partner__logo partner__logo_adidas"><span class="visually-hidden">Adidas</span></div>
      </li>
      <li class="col-3">
        <div class="partner__logo partner__logo_lenovo"><span class="visually-hidden">Lenovo</span></div>
      </li>
      <li class="col-3">
        <div class="partner__logo partner__logo_disney"><span class="visually-hidden">Disney</span></div>
      </li>
      <li class="col-3">
        <div class="partner__logo partner__logo_amazon"><span class="visually-hidden">Amazon</span></div>
      </li>
      <li class="col-3">
        <div class="partner__logo partner__logo_puma"><span class="visually-hidden">Puma</span></div>
      </li>
      <li class="col-3">
        <div class="partner__logo partner__logo_apple"><span class="visually-hidden">Apple</span></div>
      </li>
      <li class="col-3">
        <div class="partner__logo partner__logo_mini"><span class="visually-hidden">MINI</span></div>
      </li>
    </ul>
  </div>
</section>