<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" )
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title 🟥Test Bootstrap4🟥
    link(rel="shortcut icon" href="./favicon.ico")
    link(rel="stylesheet" href="./assets/bootstrap/css/bootstrap.css")
    link(rel="stylesheet" href="./assets/vendors/baguetteBox/css/baguetteBox.css")
    link(rel="stylesheet" href="./assets/css/base.css")
    link(rel="stylesheet" href="./assets/css/main.css")
    link(rel="stylesheet" href="./pages/index/index.css")

  body
    .jump-to-top
      img.jump-to-top__img(src="./components/c-jump-to-top/img/up-arrow.svg" alt="arrow to top")

    include ./components/s-header/_s-header.jade

    include ./components/s-watch/_s-watch.jade

    include ./components/s-progress/_s-progress.jade

    include ./components/s-lets/_s-lets.jade

    include ./components/s-design/_s-design.jade

    include ./components/s-work/_s-work.jade

    include ./components/s-partners/_s-partners.jade

    include ./components/s-happy-client/_s-happy-client.jade

    include ./components/s-form/_s-form.jade

    include ./components/s-social/_s-social.jade

    include ./components/s-footer/_s-footer.jade


    script(src="./assets/bootstrap/js/jquery-3.4.1.min.js")
    script(src="./assets/bootstrap/js/popper.min.js")
    script(src="./assets/bootstrap/js/bootstrap.min.js")
    script(src="./assets/vendors/baguetteBox/js/baguetteBox.min.js")
    script(src="./components/c-youtube-video/_c-youtube-video.js")
    script(src="./index.js" )