section.s-watch.s_light
  .container
    .row
      .col-lg-6
        .section-content
          .section-heading
            h3.section-heading__main We	turn creative ideas into your business.
            h4.section-heading__second Dream Big Inspire the World
          .section-description

            ul.tab-panel#myTab.nav.nav-tabs(role='tablist')
              li.tab-button.nav-item
                a.tab-button__link#web-design-tab.nav-link.rounded-pill.active(data-toggle='tab' href='#web-design' role='tab' aria-controls='web-design' aria-selected='true')
                  | Web design
              li.tab-button.nav-item
                a.tab-button__link#mobile-app-tab.nav-link.rounded-pill(data-toggle='tab' href='#mobile-app' role='tab' aria-controls='mobile-app' aria-selected='false')
                  | Mobile App
              li.tab-button.nav-item
                a.tab-button__link#branding-tab.nav-link.rounded-pill(data-toggle='tab' href='#branding' role='tab' aria-controls='branding' aria-selected='false') 
                  | Branding
              li.tab-button.nav-item
                a.tab-button__link#contact-tab.nav-link.rounded-pill(data-toggle='tab' href='#contact' role='tab' aria-controls='contact' aria-selected='false')
                  | Contact

            #myTabContent.tab-content

              #web-design.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='web-design-tab')
                p.tab-content__description
                  | 1 Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus lorem ipsum ese terds. Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus lorem ipsum ese terds.Lorem ipsum dolor sit am et, consec tetur adipi scing elit.
                a.button.button_square.button_main-color(href="#") Read more

              #mobile-app.tab-pane.fade(role='tabpanel' aria-labelledby='mobile-app')
                p.tab-content__description
                  | 2 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae rerum beatae, cum debitis corrupti facere odio quasi. Laboriosam, facere labore! Lorem ipsum dolor, sit amet consectetur adipisicing.
                a.button.button_square.button_main-color(href="#") Read more

              #branding.tab-pane.fade(role='tabpanel' aria-labelledby='branding-tab') 
                p.tab-content__description
                  | 3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit natus animi, facilis atque quae eos architecto odio debitis consectetur! Libero cumque repellendus neque alias sunt quidem laboriosam sed tempora iusto.
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorem.
                a.button.button_square.button_main-color(href="#") Read more

              #contact.tab-pane.fade(role='tabpanel' aria-labelledby='contact-tab') 
                p.tab-content__description
                  | 4 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, placeat.
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum voluptatum dignissimos neque? Voluptates, totam doloremque.
                  |Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis quo quam minima ratione magnam!
                a.button.button_square.button_main-color(href="#") Read more

