section.s-lets.s_dark
  .container
    .section-content
      .section-heading
        h1.section-heading__main.
          We	turn creative ideas into your business.
        h2.section-heading__second.
          Let's Grow Together
      .section-description.
        Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus lorem ipsum ese terds. Lorem ipsum dolor sit am et, consec tetur adipi scing elit.
      a.button.button_square.button_main-color(href="#") Read more