section.s-form.s_dark
  .container

    .row.text-center
      .col
        .section-content
          .section-heading
            h1.section-heading__main.
              Don't Forget to Contact With Us
            h2.section-heading__second.
              Need Help?
          .section-description.
            Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus lorem ipsum ese terds. Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus. 

    form.form
      .row.text-center
        .col-lg-5.w-input
          label.sr-only(for='inlineFormInputName') Name
          input.input#inlineFormInputName.form-control(type='text' placeholder='Jane Doe')
        .col-lg-5.w-input
          label.sr-only(for='inlineFormInputGroupUsername') Email
          input.input#inlineFormInputGroupUsername.form-control(type='text' placeholder='Email')

        .col-2.w-button
          button.button.button_square.button_second-color.btn(type='submit') Submit
