footer.s-footer.s_light
  .container
    .row.w-footer-promo

      .col-md-6.w-footer-list
        .row

          .col-6
            h5.footer-list__heading Company
            ul.footer-list
              li.footer-list__item
                a.footer-list__item-link(href="#") About
              li.footer-list__item
                a.footer-list__item-link(href="#") Approach
              li.footer-list__item
                a.footer-list__item-link(href="#") Sustainability
              li.footer-list__item
                a.footer-list__item-link(href="#") Careers
              li.footer-list__item
                a.footer-list__item-link(href="#") News

          .col-6
            h5.footer-list__heading Company
            ul.footer-list
              li.footer-list__item
                a.footer-list__item-link(href="#") About
              li.footer-list__item
                a.footer-list__item-link(href="#") Approach
              li.footer-list__item
                a.footer-list__item-link(href="#") Sustainability
              li.footer-list__item
                a.footer-list__item-link(href="#") Careers
              li.footer-list__item
                a.footer-list__item-link(href="#") News

        .row

          .col-6
            h5.footer-list__heading Company
            ul.footer-list
              li.footer-list__item
                a.footer-list__item-link(href="#") About
              li.footer-list__item
                a.footer-list__item-link(href="#") Approach
              li.footer-list__item
                a.footer-list__item-link(href="#") Sustainability
              li.footer-list__item
                a.footer-list__item-link(href="#") Careers
              li.footer-list__item
                a.footer-list__item-link(href="#") News

          .col-6
            h5.footer-list__heading Company
            ul.footer-list
              li.footer-list__item
                a.footer-list__item-link(href="#") About
              li.footer-list__item
                a.footer-list__item-link(href="#") Approach
              li.footer-list__item
                a.footer-list__item-link(href="#") Sustainability
              li.footer-list__item
                a.footer-list__item-link(href="#") Careers
              li.footer-list__item
                a.footer-list__item-link(href="#") News
      .col-md-6.w-footer-images
        .row
          .col-6
            img.footer-image(src="./components/s-footer/img/footer_img1.jpg" alt="img")
          .col-6
            img.footer-image(src="./components/s-footer/img/footer_img2.jpg" alt="img")
        .row
          .col-6
            img.footer-image(src="./components/s-footer/img/footer_img3.jpg" alt="img")
          .col-6
            img.footer-image(src="./components/s-footer/img/footer_img4.jpg" alt="img")

  .w-footer-menu.justify-content-center
    ul.footer-menu
      li.footer-menu__item
        a(href="#").footer-menu__item-link © 2022 Theme by psdfreebies.com
      li.footer-menu__item
        a(href="#").footer-menu__item-link Privacy  
      li.footer-menu__item
        a(href="#").footer-menu__item-link Terms of Use
      li.footer-menu__item
        a(href="#").footer-menu__item-link Site Map
