section.s-social.s_dark
  .container
    ul.soc
      li.soc-item 
        a.soc-item__link(href="#") facebook
      li.soc-item 
        a.soc-item__link(href="#") twitter
      li.soc-item 
        a.soc-item__link(href="#") linkedin
      li.soc-item 
        a.soc-item__link(href="#") instagram
      li.soc-item 
        a.soc-item__link(href="#") behance
